@import "tailwindcss";

/* reset */
span {
    display: block;
}

/* font */

/* page p1 */
#portfolio .page.p1 {
    background-color: #F0EFEA;
    width: 100%;
    height: 1280px;
    position: relative;
}
#portfolio .page.p1 .all-box {
    width: 1703px;
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
}
#portfolio .page.p1 .top-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 532px;
}
#portfolio .page.p1 .top-box .box1 {
    display: flex;
    gap: 30px
}
#portfolio .page.p1 .title-box h2:nth-child(1) {
    margin-bottom: 18px;
}
#portfolio .page.p1 .title-box h2:nth-child(2) {
    margin-bottom: 65px;
}
#portfolio .page.p1 .title-box {
    margin-bottom: 41px;
}
#portfolio .page.p1 .bottom-box .box2 span:nth-child(1) {
    text-align: end;
}
#portfolio .page.p1 .bottom-box {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* page p2 */
#portfolio .page.p2 {
    width: 100%;
    height: 1150px;
    background-image: url(image/img-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#portfolio .page.p2 .all-box {
    width: 1703px;
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#portfolio .page.p2 .all-box .top-box {
    width: 100%;
    text-align: end;
    margin-bottom: 238px;
}
#portfolio .page.p2 .all-box .text-box {
    width: 1402px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#portfolio .page.p2 .all-box .text-box .span-list {
    width: 562px;
    display: flex;
    flex-direction: column;
    margin-bottom: 49px;
}

/* page p4 */
#portfolio .page.p4 {
    width: 100%;
    height: 1080px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}