@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Serif+KR:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes drawPath1 {
  0% {
    stroke-dashoffset: 3000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes floating {
  50% {
    transform: translate3d(0, 40px, 0);
  }
}
/* reset */
span {
  display: block;
}
.path {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

/* font */
/* page p1 font */
#portfolio .page.p1 .typing-txt1,
.typing-txt2 {
  display: none;
}
#portfolio .page.p1 .typing ul li,
p1 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 64px;
  font-weight: 300;
  color: #47423e;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
#portfolio .page.p1 .typing ul li.on {
  display: inline;
  animation-name: cursor;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  font-family: "Pretendard Variable", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: #47423e;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
#portfolio .page.p1 .typing ul {
  list-style: none;
}
@keyframes cursor {
  0% {
    border-right: 1px solid #fff;
  }
  50% {
    border-right: 1px solid #000;
  }
  100% {
    border-right: 1px solid #fff;
  }
}

.page.p1 .top-box span {
  font-family: "EB Garamond", serif;
  font-size: 28px;
  font-weight: 100;
  color: #47423e;
  letter-spacing: -0.04em;
  opacity: 0.6;
}
.page.p1 .title-box h2 p2 {
  font-family: "Public Sans", sans-serif;
}
.page.p1 .title-box h3 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 56px;
  font-weight: 300;
  color: #47423e;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
.page.p1 .title-box h1 {
  font-family: "EB Garamond", serif;
  font-size: 200px;
  font-weight: 100;
  color: #47423e;
  line-height: 1.015;
  opacity: 0.8;
}
.page.p1 .bottom-box .box2 span {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #999;
}
.page.p1 .bottom-box > span {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 100;
  color: #222;
}
/* page p2 font */
.page.p2 .top-box span {
  font-family: "EB Garamond", serif;
  font-size: 28px;
  font-weight: 100;
  color: #222;
  letter-spacing: 0.02em;
}
.page.p2 .text-box .span-list span {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #222;
  letter-spacing: 0.04em;
  line-height: 2.665;
}
/* page p3 font */
.page.p3 .title-box h1 {
  font-family: "EB Garamond", serif;
  font-size: 112px;
  font-weight: 100;
  color: #47423e;
  letter-spacing: 0.02em;
  opacity: 0.8;
}
.page.p3 .main-box .my-box .name-born h1 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: #222;
  margin-right: 21px;
}
.page.p3 .main-box .my-box .name-born span {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #aaa;
}
.page.p3 .main-box .my-box .text span {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  line-height: 1.695;
}
.page.p3 .main-box .text-box .box .part > h1 {
  font-family: "EB Garamond", serif;
  font-size: 26px;
  font-weight: 200;
  color: #222;
  letter-spacing: 0.04em;
  line-height: 0.45;
}
.page.p3 .main-box .text-box .box .part .list h2 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #444;
  letter-spacing: 0.02em;
}
.page.p3 .main-box .text-box .box .part .list span {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #aaa;
}
/* page p4 font */
.page.p4 .title-box h1 {
  font-family: "EB Garamond", serif;
  font-size: 112px;
  font-weight: 100;
  color: #47423e;
  letter-spacing: 0.02em;
  opacity: 0.8;
  line-height: 0.625;
}
.page.p4 .contents-box .content h3 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}
.page.p4 .contents-box .content .text-box .title h1 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 26px;
  font-weight: 600;
  color: #47423e;
  opacity: 70%;
  line-height: 1.1;
  margin-bottom: 12px;
}
.page.p4 .contents-box .content .text-box .title h2 {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #222;
}
.page.p4 .contents-box .content .text-box .detail span:nth-child(1) {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #aaa;
  letter-spacing: -0.03em;
}
.page.p4 .contents-box .content .text-box .detail span:nth-child(2) {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  letter-spacing: -0.03em;
  margin-top: 7px;
  opacity: 70%;
}
/* contents-navigation*/
#portfolio .controller .box span:nth-child(1) {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #eeeae9;
  opacity: 80%;
  letter-spacing: 0.01em;
  transition: all 0.2s;
}
#portfolio .controller .box span:nth-child(2) {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #eeeae9;
  opacity: 100%;
  letter-spacing: -0.04em;
  transition: all 0.2s;
}
#portfolio .controller .box:hover span:nth-child(1) {
  opacity: 100%;
}
#portfolio .controller .box:hover span:nth-child(2) {
  opacity: 100%;
  font-weight: 600;
}
/* css */
.path {
  fill: none;
  stroke: #484848;
}
/* page p1 */
#portfolio .page.p1 {
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f0efea;
  position: relative;
}
#portfolio .path1 {
  stroke-dasharray: 1;
  animation: drawPath1 1s linear;
}
#portfolio .page.p1 .all-box {
  width: 1703px;
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
}
#portfolio .page.p1 .svg-box.s1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
#portfolio .page.p1 .svg-box.s1 svg {
  position: absolute;
  bottom: -8px;
  left: -570px;
}
#portfolio .page.p1 .top-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 532px;
}
#portfolio .page.p1 .top-box .box1 {
  display: flex;
  gap: 30px;
}
#portfolio .page.p1 .top-box .button1:hover,
#portfolio .page.p1 .top-box .button2:hover,
#portfolio .page.p1 .top-box .button3:hover {
  opacity: 90%;
  transition: all 0.2s;
}
#portfolio .page.p1 .title-box li:nth-child(2) {
  margin-bottom: 18px;
}
#portfolio .page.p1 .title-box h1 {
  margin-top: 65px;
}
#portfolio .page.p1 .title-box {
  margin-bottom: 41px;
}
#portfolio .page.p1 .bottom-box .box2 span:nth-child(1) {
  text-align: end;
}
#portfolio .page.p1 .bottom-box {
  display: flex;
  flex-direction: column;
  align-items: end;
}
#portfolio .page.p1 .all-box .cloud-img.i1 {
  position: absolute;
  top: 130px;
  left: 250px;
  animation: floating 4.2s linear infinite;
}
#portfolio .page.p1 .all-box .cloud-img.i2 {
  position: absolute;
  top: 750px;
  left: 1500px;
  animation: floating 3.2s linear infinite;
}
/* page p2 */
#portfolio .page.p2 {
  background-image: url(image/img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#portfolio .page.p2 .all-box {
  width: 1703px;
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#portfolio .page.p2 .all-box .top-box {
  width: 100%;
  text-align: end;
  margin-bottom: 238px;
}
#portfolio .page.p2 .all-box .text-box {
  width: 1402px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
#portfolio .page.p2 .all-box .text-box .span-list {
  width: 657px;
  display: flex;
  flex-direction: column;
  gap: 49px;
}
/* page p3 */
#portfolio .page.p3 {
  background-color: #f0efea;
  position: relative;
}
#portfolio .page.p3 > .all-box {
  width: 1703px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 60px;
}
#portfolio .page.p3 .svg-box.s3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
#portfolio .page.p3 .svg-box.s3 svg {
  position: absolute;
  top: -16px;
  left: -200px;
}
#portfolio .page.p3 .all-box .title-box {
  margin-bottom: 175px;
}

#portfolio .page.p3 .all-box .main-box {
  display: flex;
  justify-content: space-between;
}
#portfolio .page.p3 .all-box .main-box .all-box {
  width: 1703px;
  display: flex;
  justify-content: space-between;
}
#portfolio .page.p3 .all-box .main-box .my-box {
  width: 375px;
  display: flex;
  flex-direction: column;
}
#portfolio .page.p3 .all-box .main-box .my-box .profile-picture {
  width: 100%;
  height: 493px;
  margin-bottom: 29px;
  background-image: url(image/profile-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#portfolio .page.p3 .all-box .main-box .my-box .name-born {
  display: flex;
  align-items: end;
  margin-bottom: 21px;
}
#portfolio .page.p3 .all-box .main-box .text-box {
  width: 1177px;
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
  padding-right: 81px;
}
#portfolio .page.p3 .all-box .main-box .text-box .box {
  display: flex;
  flex-direction: column;
  gap: 77px;
}
#portfolio .page.p3 .all-box .main-box .text-box .box .part {
  display: flex;
}
#portfolio .page.p3 .all-box .main-box .text-box .box .part .all-list {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
#portfolio
  .page.p3
  .all-box
  .main-box
  .text-box
  .box
  .part:not(.part.s3, .part.s5)
  .all-list
  .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#portfolio .page.p3 .all-box .main-box .text-box .box .part.s3 .list {
  display: flex;
  gap: 14px;
}
#portfolio .page.p3 .all-box .main-box .text-box .box .part.s5 .list {
  display: flex;
  gap: 31px;
}
#portfolio .page.p3 .all-box .main-box .text-box .box .part.s1 {
  gap: 79px;
}
#portfolio .page.p3 .all-box .main-box .text-box .box .part.s2 {
  gap: 87px;
}
#portfolio .page.p3 .all-box .main-box .text-box .box .part.s3 {
  gap: 78px;
}
#portfolio .page.p3 .all-box .main-box .text-box .box .part.s4 {
  gap: 79px;
}
#portfolio .page.p3 .all-box .main-box .text-box .box .part.s5 {
  gap: 111px;
}
/* page p4 */
#portfolio .page.p4 {
  background-image: url(image/img-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#portfolio .page.p4 .all-box {
  width: 1703px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
#portfolio .page.p4 .all-box .contents-box {
  width: 920px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
#portfolio .page.p4 .all-box .contents-box .content {
  display: flex;
}
#portfolio .page.p4 .all-box .contents-box .content.s1 .img-box {
  background-image: url(image/content-agijagi.jpg);
}
#portfolio .page.p4 .all-box .contents-box .content.s2 .img-box {
  background-image: url(image/content-djcidc.jpg);
}
#portfolio .page.p4 .all-box .contents-box .content.s3 .img-box {
  background-image: url(image/content-ikea.jpg);
}
#portfolio .page.p4 .all-box .contents-box .content a {
  display: flex;
}
#portfolio
  .page.p4
  .all-box
  .contents-box
  .content.s1
  a:hover
  .text-box
  .detail
  .site-btn {
  background-color: #d9c7a9;
  color: white;
}
#portfolio
  .page.p4
  .all-box
  .contents-box
  .content.s2
  a:hover
  .text-box
  .detail
  .site-btn {
  background-color: #00b8cc90;
  color: white;
}
#portfolio
  .page.p4
  .all-box
  .contents-box
  .content.s3
  a:hover
  .text-box
  .detail
  .site-btn {
  background-color: #FDCD01;
  color: white;
}
#portfolio
  .page.p4
  .all-box
  .contents-box
  .content
  a:hover
  .text-box
  .detail
  .site-btn
  i {
    color: white;
  }
#portfolio .page.p4 .all-box .contents-box .content .img-box {
  width: 237px;
  height: 237px;
  background-color: #d4d4d4;
  margin-right: 59px;
  margin-left: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#portfolio .page.p4 .all-box .contents-box .content .text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 435px;
}
#portfolio .page.p4 .all-box .contents-box .content .text-box .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#portfolio .page.p4 .all-box .contents-box .content .text-box .detail .site-btn {
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0px 1px 35px 0px #00000011;
  position: relative;
  transition: all 0.2s;
}
#portfolio .page.p4 .all-box .contents-box .content .text-box .detail .site-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* content-navigation */
#portfolio .contents-navigation {
  width: 96px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  position: fixed;
  bottom: 74px;
  right: 0;
}
#portfolio .controller {
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgba(84, 62, 47, 0.61);
  border-radius: 30px 0 0 30px;
}
#portfolio .controller .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  z-index: 10;
}
#portfolio .controller .box span:nth-child(1) {
  width: 42px;
  height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9c7a9;
  opacity: 50%;
  border-radius: 100%;
}
#portfolio .remote-control {
  width: 68px;
  height: 68px;
  background-color: #ae8970;
  opacity: 60%;
  border-radius: 100%;
  position: relative;
  transition: all 0.3s;
}
#portfolio .remote-control > div {
  position: absolute;
  left: 31%;
  width: 26px;
  height: 6%;
  background-color: #eeeae9;
  opacity: 80%;
  transition: opacity 0.3s, transform 0.3s, top 0.3s;
  border-radius: 100px;
}
#portfolio .remote-control:hover {
  opacity: 100%;
}
#portfolio .remote-control > div:nth-child(1) {
  top: 50%;
  transform: translateY(-50%);
}
#portfolio .remote-control > div:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
#portfolio .remote-control.active > div:nth-child(1) {
  top: 46%;
  transform: translateY(-50%);
  transform: rotate(90deg);
}
#portfolio .remote-control.active > div:nth-child(2) {
  top: 46%;
  transform: translateY(-50%);
  transform: rotate(180deg);
}

#portfolio .top-btn {
  width: 68px;
  height: 68px;
  background-color: #ae8970;
  opacity: 60%;
  border-radius: 100%;
  transition: all 0.3s;
  position: relative;
}
#portfolio .top-btn:hover {
  opacity: 100%;
}
#portfolio .top-btn i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
